@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root{
    /* fonts */
    --font-primary: 'Raleway', sans-serif;
    --font-secundary: 'Open sans', sans-serif;
    --font-size: 14px;
    --font-weight-regular: 400;
    --font-weigth-bold: 700;

    /* colors */
    --primary-dark-blue-intro: hsl(217, 28%, 15%);
    --primary-dark-blue-main: hsl(218, 28%, 13%);
    --primary-dark-blue-footer: hsl(216, 53%, 9%);
    --primary-dark-blue-testimonials: hsl(229, 30%, 18%);
    --primary-cyan-gradient-1: hsl(176, 68%, 64%);
    --primary-blue-gradient-2: hsl(176, 68%, 40%);
    --accent-ligth-red: hsl(0, 100%, 63%);
    

    --neutral-white: hsl(0,0%,100%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-dark-blue-intro);
    color: var(--neutral-white);
    font-size: var(--font-size);

}

a{
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper{
    width: min(100% - 3rem, 1440px);
    margin: 0 auto;
}

.header {
    font-family: var(--font-primary);
    /*border: 1px solid red;*/
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
}

.header_nav {
    list-style: none;
    /* border: 1px solid blue; */
    
    padding: 10px;
    margin: 10px;

    display: flex;
    gap: 2rem; /* 2rem = 14px */
}

.hero{
    border: 1px solid red;
    
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background: var(--primary-dark-blue-intro) url(../images/bg-curvy-desktop.svg);
    background-size: contain;
    padding-top: 3rem;
}
.hero_title{
    width: min(100% - 3rem, 720px);
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    font-size: 2.5rem;
    line-height: 1.5;
}

.hero_text{
    width: min(100% - 3rem, 720px);
    font-family: var(--font-secundary);
    padding: 0 7rem;
    line-height: 1.5;
}
 
.hero_button{
    font-family: var(--font-secundary);
    font-weight: var(--font-weigth-bold);
    border: none;
    border-radius: 7rem;
    padding: 1rem, 5rem;
    line-height: 1.5;
    min-width: 220px;
    color: var(--neutral-white);
    background: linear-gradient(9deg, 
    var(--primary-cyan-gradient-1) 0%,
    var(--primary-blue-gradient-2) 35%
    );
}

